[submodule "whisper/whisper.cpp"]
	path = whisper/whisper.cpp
	url = https://github.com/ggerganov/whisper.cpp.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/Buttercuper777/AmHappensFront
[submodule "backend"]
	path = backend
	url = https://github.com/Buttercuper777/AmHappensBack
